<a href="https://colab.research.google.com/github/nagen01/insto-auto1/blob/master/Currency_Converter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This program convert a given currency from one to another
For example:

User input:  AUD 100.00 in USD

Output    :  AUD 100.00 = USD 83.71

In [0]:
#import important libraries:
import pandas as pd

In [967]:
#Get the user input
user_input = input("Enter value to be converted from one currency to another in 'AUD 100.00 in USD' format:")

#Note: User_input other than given format will not hold good, help to test with the required format only.....

Enter value to be converted from one currency to another in 'AUD 100.00 in USD' format:EUR 100.00 in CZK

In [0]:
#Loading conversion rate, cross conversion table etc...
cr = pd.read_csv("/content/sample_data/Conversion rate.csv", header = None, names = ['from-to','conversion_rate'])
cct = pd.read_csv("/content/sample_data/Cross conversion table.csv")
op = pd.read_csv("/content/sample_data/Output Precision.csv", header = None, names = ['country', 'no_of_decimal_places', 'dec'])

In [0]:
#Seperating the input into parts for further processing:
from_curr = user_input[0:3]
from_value = user_input[4:10]
to_curr = user_input[14:17]

#Storing values for future use:
f_curr = from_curr
t_curr = to_curr

In [970]:
#Checking for currencies availability entered by user:
list_ccr = ['AUD','CAD','CNY','CZK','DKK','EUR','GBP','JPY','NOK','NZD','USD']

if f_curr and t_curr in list_ccr:
  if f_conversion_method(from_curr,to_curr) not in list_ccr:
    op_val = convrt(from_curr, to_curr)
  else:
    i_conver_method = f_conversion_method(from_curr,to_curr)
    op_val = convrt(from_curr, i_conver_method[0])*convrt(i_conver_method[0], to_curr)

  #Finding the number of decimal points in output:
  k = int(op.loc[op['country'] == f_curr]['no_of_decimal_places'].values)

  #Printing the final output:
  if f_curr == t_curr:
    print(f"{f_curr} {float(from_value)} = {t_curr} {round(op_val,k)}")
  else:
    print(f"{f_curr} {float(from_value)} = {t_curr} {round(op_val[0],k)}")
else:
  print(f"Unable to find rate for {f_curr}/{t_curr}")

print(f"This is final output for user input : {user_input}")

EUR 100.0 = CZK 2760.28
This is final output for user input : EUR 100.00 in CZK

In [0]:
#Function for converting the value
def convrt(from_curr, to_curr):
  cr_rate_id = cr_concat(from_curr, to_curr)
  if f_conversion_method(from_curr,to_curr) == 'D':
    op_val = d_convert(cr_rate_id)
  elif f_conversion_method(from_curr,to_curr) == 'Inv':
    op_val = inv_convert(cr_rate_id)
  elif f_conversion_method(from_curr,to_curr) == '1:1':
    op_val = one_to_one_convert()
  else:
    print(f"Unable to find rate for {f_curr}/{t_curr}")
  return op_val

In [0]:
#Checking in cross conversion table
def f_conversion_method(from_curr, to_curr):
  conversion_method = cct.loc[cct['/'] == from_curr][to_curr].values
  return conversion_method

In [0]:
#Function for concatinating the currencies
def cr_concat(from_curr, to_curr):
  from_to_curr = from_curr + to_curr
  return from_to_curr

In [0]:
#Functions for direct conversion 
def d_convert(cr_rate_id):
  return float(from_value)*cr.loc[cr['from-to'] == cr_rate_id]['conversion_rate'].values

#Function for inverted conversion
def inv_convert(cr_rate_id):
  cr_rate_id = cr_rate_id[3:6] + cr_rate_id[:3]
  return float(from_value)*(1/cr.loc[cr['from-to'] == cr_rate_id]['conversion_rate'].values)

#Function for self conversion
def one_to_one_convert():
  return float(from_value)*1.00

#Test Cases:
All the below inputs entered manyally during program execution and passed successfully....

EUR 100.00 in CZK  => for Direct

EUR 100.00 in GBP  => EUR > USD > GBP (1)

GBP 100.00 in EUR  => GBP > USD > EUR (2)

DKK 100.00 in DKK  => 1:1

DKK 100.00 in EUR  => Inverted (1)

EUR 100.00 in DKK  => Inverted (2)

NOK 100.00 in DKD  => (not possible)